.main-chat
  .right-header
    .right-header__group-area
      .right-header__group-area__group-name
        group-name
      .right-header__group-area__member
        .right-header__group-area__member__tag
          Member :
        .right-header__group-area__member__user-name
          member-name
        .right-header__group-area__member__user-name
          member-name
    = link_to "#", class: "right-header__edit-btn" do
      Edit
  .message-field
    .message-field__message-area
      .message-field__message-area__user-status
        .message-field__message-area__user-status__name
          user-name
        .message-field__message-area__user-status__timestamp
          2020/05/12
      .message-field__message-area__message
        テスト
      .message-field__message-area__user-status
        .message-field__message-area__user-status__name
          user-name
        .message-field__message-area__user-status__timestamp
          2020/05/12
      .message-field__message-area__message
        テスト
  .footer
    = form_with url: "#", class: "footer__form" do |f|
      = f.text_field :text, placeholder: "type a message", class: "footer__form__text-area"
      = f.label :image, class: 'footer__form__post-btn' do
        = icon('far', 'image', class: 'footer__form__post-btn__icon')
        = f.file_field :image, class: 'footer__form__post-btn__file-field'
      = f.submit 'Send', class: 'footer__form__send'