.main-chat
  .right-header
    .group-area
      .group-area__group-name
        = @group.name
      .group-area__member
        .group-area__member__tag
          Member :
        - @group.users.each do |users|
          .group-area__member__user-name
            = users.name
    = link_to edit_group_path(@group), class: "right-header__edit-btn" do
      Edit
  .message-field
    = render @messages
  .footer
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .form__contents
        = f.text_field :body, class: 'form__contents__text-area', placeholder: 'type a message'
        = f.label :image, class: 'form__contents__post-btn' do
          = icon('far', 'image', class: 'form__contents__post-btn__icon')
          = f.file_field :image, class: 'form__contents__post-btn__field'
      = f.submit 'Send', class: 'form__send'